<form method="post" action="{{ path('egg_delete', {'id': egg.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ egg.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
