{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">

        <h1 class="titleAdmin">Editer</h1>

        {{ include('admin/egg/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-secondary" href="{{ path('egg_index') }}">Retour à la liste</a>

        {{ include('admin/egg/_delete_form.html.twig') }}
    </div>

{% endblock %}
