{% extends 'base.html.twig' %}

{% block title %}Ajouter un oeuf{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">

        <h1 class="titleAdmin mb-3">Ajouter un oeuf</h1>

        {{ include('admin/egg/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('egg_index') }}">Retour à la liste</a>

    </div>

{% endblock %}
