{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container d-flex titre ">
        <h1>Bienvenue Sur le Site d'Art Erik Turgis</h1>
    </div>
    <section class="description">
    <div class="container">
    <div class="container d-flex justify-content-center">
      <div id="carouselExampleSlidesOnly" class="carousel slide" style='width:800px;' data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="img/peintures/aquarelles/aqua7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/sculptures/sculptures-pierre/0637_lion_01.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <p>test</p>
      </div>
    </div>
        <div class="text-center title-presentation m-5">
            <h2>
                Qui est Erik Turgis ?
            </h2>
        </div>
            <div class="card row presentation col-9">
                <img src="image/erik-chap.jpg"  class="card-img-top" style="width:20%" alt="...">
                <div class="card-body col-8">
                    <p class="card-text">
                        Voyage au cœur d'un labyrinthe d'artiste

                        L'œil énigmatique, le sourire mystérieux, Erik G. TURGIS a quelque chose du Sphinx. IL en a, en tout cas, la sérénité, celle d'un artiste qui vit en harmonie avec ses rêves et la réalité. Qu'importe s'il n'a pas (encore) la notoriété, ce n'est pas sa principale préoccupation.
                        Sa première ambition n'est pas de monnayer sa passion mais plus tranquillement, de la vivre... <br>
                        <a href="#">Lire la suite</a>
                       
                    </p>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
