{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container d-flex titre">
<h1>Bienvenue Sur le Site d'Art Erik Turgis</h1>
</div>

{% endblock %}
