
{# Le code de cette page fut réalisé par Bruno Prédot - 11/2019
created by Prédot Bruno - 11/2019 #}

<form method="post" action="{{ path('painting_delete', {'id': painting.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ painting.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
