
{# Le code de cette page fut réalisé par Bruno Prédot - 11/2019
created by Prédot Bruno - 11/2019 #}

{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">

        <a class="btn btn-secondary float-right my-3" href="{{ path('painting_index') }}">Retour à la liste</a>

        <h1 class="titleAdmin">Edition</h1>

        {{ include('admin/painting/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('admin/painting/_delete_form.html.twig') }}

    </div>
{% endblock %}
