
{# Le code de cette page fut réalisé par Bruno Prédot - 11/2019
created by Prédot Bruno - 11/2019 #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une peinture{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">

        <h1 class="titleAdmin">Ajouter une peinture</h1>

        {{ include('admin/painting/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('painting_index') }}">Retour à la liste</a>

    </div>

{% endblock %}
