{% extends 'base.html.twig' %}

{% block title %}Oeufs{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">

        <div class="text-center">
            <h1 class="jumbotronTitle titleAdmin">Oeufs</h1>
        </div>

        <div class="container" style="padding-top: 150px; height: 850px">

            <div class="row">

                <div class="col col-md-6">
                    <p>
                        Je me suis amusée à peindre les œufs lors de divers séjours à l'hôpital, cela ne prenait pas de place et
                        je n'avais pas besoin de beaucoup de matériel, ce fut Erik qui me proposa l'idée car je n'avais pas la
                        tête dirons nous à écrire.
                    </p>
                    <p>
                        Certains sont plus travaillés que d'autres ce qui est évident puisqu'au fur et à mesure j'ai acquis un peu
                        plus de dextérité.Pour certains J'ai eu des modèles et notamment l'aide de Gershom qui m'a envoyé des
                        ouvrages pour les expressions et styles BD des personnages car je n'y connaissais rien. Je dois avouer
                        toutefois que dans la série des monuments certains sont de Erik  qui les a peint lorsqu'il  venait me
                        voir; il s'agit du Mt St Michel, de Chenonceau, Tahaj Mahal, Venise, Manhattan,Statues de la  liberté,
                        de l'ile de Pâques, Aztèques, et du mont Rushmore.
                    </p>
                </div>

                <div class="carousel-3d carousel-3d-vertical col col-md-6">
                    <div class="carousel-3d-inner">
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(48).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(49).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(50).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(51).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(52).jpg" alt="Slide"></div>
                        <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(53).jpg" alt="Slide"></div>
                    </div>
                    <div class="carousel-3d-controls">
                        <a class="prev-btn waves-effect waves-light text-light"><i class="fas fa-chevron-left"></i></a>
                        <a class="next-btn waves-effect waves-light text-light"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div><!-- end carousel -->

            </div><!-- end row -->

        </div><!-- end container -->

    </div><!-- end container-fluid -->

{% endblock %}
