
                                /* css de Kevin */
                                
 body {
    background-image: url(../image/1062_double_dragon_stylise.jpg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position-x: center;
    background-attachment: fixed;
    padding-top: 8vh;

}


                                /* page home */

.titre {
    background-color: rgba(255, 255, 255, 0.719);
    justify-content: center;
    align-items: center;
    margin-top: 37vh!important;
    margin-bottom: 31vh!important;
    padding: 10px;
    width: 60%;



}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
}
.presentation {
    flex-direction: row!important;
    background-color: rgba(255, 255, 255, 0.719)!important;
    
    align-items: center;
    margin: auto!important;
}
.title-presentation {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
    margin-bottom: 1px;
    
    border-radius: 20%;
 
}
@media screen and (max-width: 768px) {
    .titredusite{
        text-align: center!important;
        
    }
    .presentation{
        flex-direction: column!important;

    }
    .carousel1 {
        height: 58vw!important;
    }
   
}

/* **********************************************************************************
********************************* BRUNO'S CSS PART **********************************
*********************************************************************************** */
/* general */
.titleAdmin{
    margin-top: 15vh;
    opacity: 1;
    color: #FFFFFF;
}
.jumbotronTitle{
    opacity: 1;
    color: #FFFFFF;
}
.backgroundBruno{
    padding: 15vh 0 5vh 0;
    background-color: #444444;
    margin-top: -15vh;
    opacity: 0.9;
    color: #FFFFFF;
    height: 100%;
}
.backgroundB{
    background-color: #444444;
    padding: 5vh 9vw 5vh 9vw!important;
    opacity: 0.9;
}
.tableWhite{
    color: #FFFFFF;
}
/************************
*    ADMIN INDEX        *
************************/

/* section choice */
.jumbotronAdmin{
    margin: 16vh 0 13vh 0;
    opacity: 0.9;
    background-color: #444444;
    padding: 8vh 2vw 8vh 2vw;
}
/* Float four columns side by side */
.counter-column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.counter-row {margin: 0 -5px;}

/* Clear floats after the columns */
.counter-row:after {
    content: "";
    display: table;
    clear: both;
}
/* FORM */
.form-error-message{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Annimation */
.effect-chico{
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.effect-chico:hover {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Responsive columns */
@media screen and (max-width: 769px) {

    .counter-column {
        width: 50%;
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    .counter-column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

/* Style the counter cards */
.counter-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #002e54;
    color: white;
    border-radius: 8px;
    margin: 1.4em;
    height: 20vh;
}

.counter-fa {
    font-size:50px;
}
.fa-palette, .fa-egg, .fa-pencil-alt, .fa-studiovinari{
    color: #FFFFFF
}
.box-shadow{
    box-shadow: 5px 4px 18px -5px #C4C4C4;
}
/************************
*   Painting pages      *
************************/
.explain{
    font-size: 0.8rem;
}
.jumbotronAqua{
    padding: 4vh 0 4vh 0;
    background-color: #444444;
    margin-top: 12vh;
    opacity: 0.9;
}
.jumbotronClassicalOil{
    padding: 4vh 0 4vh 0;
    background-color: #444444;
    margin-top: 14vh;
    opacity: 0.9;
}
.jumbotronLaqueredPainting{
    padding: 9vh 0 9vh 0;
    background-color: #444444;
    margin-top: 22vh;
    opacity: 0.9;
}
/******************************
*  Admin Painting & Egg Index *
 *****************************/
.borderY_white{
    width: 100%;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    padding: 1vh 1vw 1vh 1vw;
}
.borderY_white div h6{
    margin-top: 1vh;
}
.borderY_white div img{
    width: 10vw;
}
@media (max-width: 769px) {
    .borderY_white div img{
        width: 20vw;
    }
}
 .filter {
    height: 30vh;
    width: 80vw;
    margin: auto;
     padding: 1vh 2vw 0 2vw;
    background: #16235e;
    background: -moz-linear-gradient(top, #444444 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#000000)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #444444 0%, #000000 100%); /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(top, #444444 0%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444444 0%, #000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #444444 0%, #000000 100%); /* W3C */
    -webkit-box-shadow: 0px 0px 13px 5px #FFFFFF;
    -moz-box-shadow: 0px 0px 13px 5px #FFFFFF;
    box-shadow: 0px 0px 13px 5px #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
 }
/***************************** END BRUNO'S CSS PART *******************************/

/******************************DIDRIK'S CSS PART**********************************/

/********** DRAWING PAGES************/
/* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
}

.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: #CBBFAE;
    background: rgba(190,176,155, 0.4);
    border-left: 4px solid rgba(255,255,255,0.7);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);   
    opacity: 0;
    color: #fff;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);  
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);  
    background: rgba(190,176,155, 0.7);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -o-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    backface-visibility : hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* custom style */
.container {
  margin: 30px;
}

.shadow {
    width: 100%;
    height: 168px;
    position: relative;
    margin-top: -110px;
    background: transparent url(https://tympanus.net/Development/Slicebox/images/shadow.png) no-repeat bottom center;
    background-size: 100% 100%; /* stretches it */
    z-index: -1;
    display: none;
}

.sb-description h3 {
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: #cbbfae url(https://tympanus.net/Development/Slicebox/images/nav.png) no-repeat top left;
    position: absolute;
    top: 50%;
    left: 2px;
    text-indent: -9000px;
    cursor: pointer;
    margin-top: -21px;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
    left: auto;
    right: 2px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: -5px;
    height: 30px;
    width: 100%;
    left: 0;
    display: none;
}

.nav-dots span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    background: #cbbfae;
    cursor: pointer;
    box-shadow: 
        0 1px 1px rgba(255,255,255,0.6), 
        inset 0 1px 1px rgba(0,0,0,0.1);
}

.nav-dots span.nav-dot-current {
    box-shadow: 
        0 1px 1px rgba(255,255,255,0.6), 
        inset 0 1px 1px rgba(0,0,0,0.1), 
        inset 0 0 0 3px #cbbfae,
        inset 0 0 0 8px #fff;
}

.nav-options {
    width: 70px;
    height: 30px;
    position: absolute;
    right: 70px;
    bottom: 0px;
    display: none;
}

.nav-options span {
    width: 30px;
    height: 30px;
    background: #cbbfae url(https://tympanus.net/Development/Slicebox/images/options.png) no-repeat top left;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    border-radius: 50%;
}

.nav-options span:first-child{
    background-position: -30px 0px;
    margin-right: 3px;
}

.nav-options span:hover {
    opacity: 1;
}






#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }


/****************************END DIDRIK PART**********************************/


