
                                /* css de Kevin */
                                
 body {
    background-image: url(../image/1062_double_dragon_stylise.jpg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position-x: center;
    background-attachment: fixed;


}


                                /* page home */

.titre {
    background-color: rgba(255, 255, 255, 0.719);
    justify-content: center;
    align-items: center;
    margin: 17%;
    padding: 10px;
    width: 60%;



}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
}
.presentation {
    flex-direction: row!important;
    background-color: rgba(255, 255, 255, 0.719)!important;
    
    align-items: center;
    margin: auto!important;
}
.title-presentation {
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
    margin-bottom: 1px;
    
    border-radius: 20%;
 
}


/* **********************************************************************************
********************************* BRUNO'S CSS PART **********************************
*********************************************************************************** */
/* general */
.titleAdmin{
    margin-top: 15vh;
    opacity: 1;
    color: #FFFFFF;
}
.jumbotronTitle{
    opacity: 1;
    color: #FFFFFF;
}
.backgroundBruno{
    padding: 15vh 0 15vh 0;
    background-color: #444444;
    margin-top: -15vh;
    opacity: 0.9;
    color: #FFFFFF;
}
.tableWhite{
    color: #FFFFFF;
}
/************************
*    ADMIN INDEX        *
************************/

/* section choice */
.jumbotronAdmin{
    margin: 16vh 0 13vh 0;
    opacity: 0.9;
    background-color: #444444;
    padding: 8vh 2vw 8vh 2vw;
}
/* Float four columns side by side */
.counter-column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.counter-row {margin: 0 -5px;}

/* Clear floats after the columns */
.counter-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Annimation */
.effect-chico{
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.effect-chico:hover {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Responsive columns */
@media screen and (max-width: 769px) {

    .counter-column {
        width: 50%;
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    .counter-column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

/* Style the counter cards */
.counter-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #002e54;
    color: white;
    border-radius: 8px;
    margin: 1.4em;
    height: 20vh;
}

.counter-fa {
    font-size:50px;
}
.fa-palette, .fa-egg, .fa-pencil-alt, .fa-studiovinari{
    color: #FFFFFF
}
.box-shadow{
    box-shadow: 5px 4px 18px -5px #C4C4C4;
}
/************************
*   Painting pages      *
************************/
.explain{
    font-size: 0.8rem;
}
.jumbotronAqua{
    padding: 4vh 0 4vh 0;
    background-color: #444444;
    margin-top: 12vh;
    opacity: 0.9;
}
.jumbotronClassicalOil{
    padding: 4vh 0 4vh 0;
    background-color: #444444;
    margin-top: 14vh;
    opacity: 0.9;
}
.jumbotronLaqueredPainting{
    padding: 9vh 0 9vh 0;
    background-color: #444444;
    margin-top: 22vh;
    opacity: 0.9;
}
/***************************** END BRUNO'S CSS PART *******************************/