{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
   <div class="backgroundBruno">
        <div class="d-flex justify-content-center m-3">
            <h1>Présentation d'Erik Turquis</h1>
        </div>
        <div class="d-flex justify-content-center">
            <img src="image/erik-chap.jpg" style="width:50vh" alt="" >
        </div>
       <div class="container">
            <h2 class="text-center">Voyage au cœur d'un labyrinthe d'artiste </h2><br>
            <p>
            L'œil énigmatique, le sourire mystérieux, Erik G. TURGIS a quelque chose du Sphinx. IL en a, en tout cas, la sérénité, celle d'un artiste qui vit en harmonie avec ses rêves et la réalité. Qu'importe s'il n'a pas (encore) la notoriété, ce n'est pas sa principale préoccupation.</p>
            <p>Sa première ambition n'est pas de monnayer sa passion mais plus tranquillement, de la vivre.<br> 
            Au milieu des livres anciens, sous le regard d'un sage ; le rabbin Schmeerson, l'ordinateur a pour voisin un vénérable manuscrit et le Guide des égarés de Moïse Maïmonide. C'est qu'Erik TURGIS ne se contente pas de peindre, de dessiner et de sculpter, il est aussi philosophe à ses heures et spécialiste en informatique tout le reste du temps. Etonnant personnage, étrange parcours. D'abord comptable aux Armées, il suit des stages de psychologie et se spécialise en criminologie. Il devient ensuite pupitreur informatique, suit des cours de philosophie et entre dans la gendarmerie. Il y a quatre ans, il choisit avec son épouse et ses enfants, de vivre autre chose, et de se  consacrer à son art à temps plein. Changement de mode de vie, Erik Turgis et sa famille s'installent à Berck, une cité qu'ils ont découverte par un heureux hasard.
            Dans son atelier, on flotte dans un monde un peu étrange, comme hors du temps.
            </p>
            <p>Dès lors, l'artiste se consacre à sa passion. Matière et technique ne sont plus entre ses mains que supports pour que s'envole son imaginaire. Il change de technique comme on change de stylo et sa quête du Graal fait du fantastique, entre ciel et eau, son principal délire d'artiste. Sans jamais se perdre dans ce labyrinthe de l'irréel. Sereinement " Je ne vais pas peindre la nature, ça ne m'intéresse pas, il me faut toujours l'imagination pour aller au-delà de ce que je vois, en mêlant au côté symbolique et mystique, le surréalisme et la mythologie. " La peinture n'est pas un moyen de contact, juste un mode d'expression.</p>
            <p>Pas étonnant dès lors que l'artiste spécialiste en informatique se soit installé sur Internet. <br>
            On y trouve depuis deux mois, une partie de ses œuvres. Et depuis peu, quelques spécimens d'images triturées font la joie des surfeurs sur Internet. De véritables chef-d'œuvre qui vous transportent en baie d'Authie ou à Berck, au temps des monstres préhistoriques ou pendant les grandes inondations imaginaires. A consommer sans modération. A côté de ses images qui mentent avec aplomb, même lorsque la distorsion les torture, Erik Turgis présente quelques dessins à la plume, quelques aquarelles des plus traditionnelles. Histoire peut-être de rappeler que derrière les rêveries d'un artiste solitaire, se cache un peintre qui " sait aussi tenir un crayon ".
            </p>
            <p>Une large diversité des genres : " Je sais que ça peut effrayer, explique Erik Turgis, moi, je représente ce que je veux, ce qui correspond à mon idée. "<br>
            L'air et l'eau sont deux dimensions à sa mesure pour exprimer ce " questionnement sur soi, sur la vie ", qui va jusqu'à la métaphysique. Du dessin à la plume, construit en fonction du nombre d'or (1,618), à la peinture à l'huile, forme de méditation psychanalytique, l'œuvre d'Erik Turgis n'a qu'une ambition : l'expression libre d'une passion. A chacun ensuite d'en tirer la substantifique moelle ; il n'y a pas de traduction imposée. L'interprétation, c'est comme on la sent : " chacun trouve ce qu'il y rapporte ! "
            </p>
            <p class='text-center'>
            Voix du Nord - Octobre 1997 " Marc Nicolet.
            </p>

       </div>
    </div>
    
{% endblock %}
