{% extends  'base.html.twig'%}

{% block title %}Accueil administration{% endblock %}

{% block body %}
    <div class="container d-flex titre">
        <h1>Accueil administration</h1>
    </div>

{% endblock %}
