{% extends 'base.html.twig' %}

{% block title %}sculpture de bois{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/slicebox3d/carving.css')}}">

{% endblock %}
{% block body %}
<div class="container-fluid backgroundBruno">		
<div class="d-flex justify-content-center">
<h1>Les sculpture en Bois</h1>
</div>
<div class="row">
{% for bois in bois %}		
  <div class="col galerie" >
    <img src="{{ asset(bois.img) }}" alt="" style="width:80%; height:30vh" onclick="myFunction(this);">
  </div>
{% endfor %}
 


<div class="container d-flex justify-content-center" style="height:100vh">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img  id="expandedImg" style="width:50vh">
  <div id="imgtext"></div>
</div>

<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>			
				
	
</div>							
{% endblock %}
