{% extends 'base.html.twig' %}

{% block title %}Modifier sculpture{% endblock %}

{% block body %}
    <h1>Modifiers sculpture</h1>

    {{ include('carving/_form.html.twig', {'button_label': 'Update'}) }}
    
{% endblock %}
