{% extends 'base.html.twig' %}

{% block title %}Modifier sculpture{% endblock %}

{% block body %}  
    <div class="container-fluid backgroundBruno">

        <h1 class="titleAdmin">Modifiers sculpture</h1>

    {{ include('Admin/carving/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    
{% endblock %}
