{% extends 'base.html.twig' %}

{% block title %}Nouvelle sculpture{% endblock %}

{% block body %}
    <h1>Ajout d'une Nouvelle Sculpture</h1>

    {{ include('Admin/carving/_form.html.twig') }}

    
{% endblock %}
