{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dessin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Encre</a>
          <a class="dropdown-item" href="#">Crayon</a>
          <a class="dropdown-item" href="#">Crayon couleurs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sculpture
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pierre</a>
          <a class="dropdown-item" href="#">Bois</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Peinture
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Aquoirelle</a>
          <a class="dropdown-item" href="#">Huile</a>
          <a class="dropdown-item" href="#">Gouache</a>
          <a class="dropdown-item" href="#">laque>/a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Oeuvre Numerique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Oeufs Decoratifs</a>
      </li>
  </div>
</nav>










{% endblock %}